<strong>Olá!</strong>
<p>Houveram algumas alterações nos seu dados cadastrais, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
